
{{search-box onSearch=(action 'query')}}
<ol class="full-width">

  {{#each this.model as |product|}}
  <li>
    <div class="sakura-product-line-item">
      <span class="sakura-product-line-item-image"><img src={{product.image}} alt="picture"></span>
      <span class="sakura-product-line-item-info">
        <ol class="sakura-product-line-item-info-ol margin-horizontal-2x">
          <li><span class="padding-right-3x">{{product.name}}</span><span class="font-style-italic">{{product.spec}}</span></li>
          <li><i class="sakura-line-item-info-brand font-style-italic font-color-dimgray">{{product.brand}}</i></li>
          <li class="sakura-line-item-info-price"><b class="font-color-red">{{product.price}}</b></li>
        </ol>
      </span>
      <span class="sakura-product-line-item-add-to-cart">
          <i class="fa fa-cart-plus fa-2x fw-centered" aria-hidden="true"></i>
      </span>
      <span class="sakura-product-line-item-more-options">
          <i class="fa fa-search-plus fa-2x fw-centered" aria-hidden="true"></i>
      </span>
    </div>
  </li>
  {{/each}}
</ol>

